.navbar,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 70px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    width: 5rem
}

.navbar-logo img {
    width: 100%;
}

.navbar-logo p {
    font-size: 30px;
    color: black;
}

.navbar-menu {
    list-style: none;
}

.navbar-menu li {
    position: relative;
    float: left;
}

.navbar-menu li a {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: black;
    display: block;
    text-decoration: none;
    padding: 1rem 1.5rem;
}

.navbar-menu li a:hover {
    color: rgb(181, 181, 181);
}

.navbar-submenu{
    position: absolute;
    left: 0;
    background: white;
    display: none;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    box-shadow: 7px 7px #26292a;
}

.navbar-submenu-wrapper:hover .navbar-submenu,
.navbar-submenu-wrapper:focus-within .navbar-submenu{
    display: initial;
}


.navbar-submenu li {
    width: 100%;
    list-style: none;
    border-top: .1rem solid #222f37;
}

.navbar-toggle-btn {
    display: none;
    /* Initially hide the toggle button */
    z-index: 1000;
}

.navbar-icon {
    position: relative;
    width: 1.5rem;
    height: .8rem;
    cursor: pointer;
    z-index: 100;
}

.navbar-icon::before {
    top: 0;
    right: 0;
    content: '';
    position: absolute;
    width: 2rem;
    height: .2rem;
    background-color: #d6e0f9;
    transition: all 0.3s ease-in-out;
}

.navbar-icon::after {
    bottom: 0;
    right: 0;
    content: '';
    position: absolute;
    width: 2rem;
    height: .2rem;
    background-color: #d6e0f9;
    transition: transform 0.3s ease-in-out;
}

/* Rotate the before and after lines to create the close icon effect */
.navbar-icon.active::before {
    width: 1.5rem;
    transform: rotate(-45deg) translate(-0.21rem, 0.21rem);
}

.navbar-icon.active::after {
    width: 1.5rem;
    transform: rotate(45deg) translate(-0.21rem, -0.21rem);
}


@media (max-width: 991px) {
    .navbar-toggle-btn {
        display: block;
    }

    .navbar-menu {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        backdrop-filter: blur(10px);
    }

    .navbar-menu.active {
        display: initial
    }

    .navbar-menu li {
        width: 100%;
    }

    .navbar-submenu {
        position: relative;
        width: 100%;
    }

    .navbar-submenu li {
        backdrop-filter: blur(30px);
        border-top: 0;
    }

    .navbar-submenu li a {
        padding-left: 2rem;
    }
}