<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - page not found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    <!-- Google tag (gtag.js) -->
    {% include 'components/ga.html'%}
</head>

<body>
    <div class="container">
        <div class="text center">
            <p class="error-red">Error 404<br>
            <p>page not found.</p>
            <p><a href="../">go back</a> while you can.</p>
            <br><br>
            <p>good luck.</p>
        </div>
    </div>
</body>

</html>