<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">


<nav class="navbar">
    <div class="navbar-logo">
        <!-- <img src="./navbar-icon.png" alt=""> -->
        <a href="{{ url_for('index' ) }}">
            <p>Senophyx</p>
        </a>
    </div>
    <div class="navbar-toggle-btn">
        <div class="navbar-icon"></div>
    </div>
    <ul class="navbar-menu">
        <li><a href="{{ url_for('index' ) }}#about">About</a></li>
        <li><a href="{{ url_for('index' ) }}#skills">Skills</a></li>
        <li><a href="{{ url_for('index' ) }}#journey">Journey</a></li>
        <li><a href="{{ url_for('index' ) }}#projects">Projects</a></li>
        <li class="navbar-submenu-wrapper">
            <a>More <span>></span></a>
            <ul class="navbar-submenu">
                <li><a href="{{ url_for('index') }}#social">Contact</a></li>
            </ul>
        </li>
    </ul>
</nav>

<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>